@font-face{
    font-family: heading;
    src: url("Assets/Fonts/DIN Condensed/DIN Condensed Bold.ttf");
}
@font-face{
    font-family: paragraph;
    src: url("Assets/Fonts/SF Pro Text/SF-Pro-Text-Medium.otf");
}
.container-fluid{
    margin: 0;
}
#home{
    background-color: rgb(24,24,24);
    min-height: 100vh;
}
#home #heading{
    font-family: heading;
    font-size:32vw;
    letter-spacing: 0px;
    color:aliceblue;
  /*  margin-top: 256px;*/
    line-height:24vw;
    padding:0px;
    margin: 0px;
    
}
#home #sub-heading{
    font-family: heading;
    font-size:12vw;
    letter-spacing: 0.25rem;
    color:aliceblue;
   /* margin-top: 400px;*/
   line-height:4vw;
    padding:0px;
    margin: 0px;
}
#home #pre-heading{
    font-family: heading;
    font-size:10vw;
    letter-spacing: 0.125rem;
    color:aliceblue;
   /* margin-top: 248px;*/
   /* line-height: 12vw; */
    padding:0px;
    margin:0px;
}
#home #para{
    font-family: paragraph;
    font-size:4vw;
    letter-spacing:.05vw;
    color:rgb(255, 255, 255);
   /* margin-top: 508px;*/
    padding:0px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
#whyattend{
    min-height: 100vh;
}
#whyattend #heading{
    font-family: heading;
    font-size:40vw;
    position: relative;
    letter-spacing: 0.125rem;
    text-shadow: -0.125rem 0 black, 0 0.125rem black, 0.125rem 0 black, 0 -0.125rem black;
    color:rgb(254, 254, 255);
  /*  margin-top: 256px;*/
    line-height: 45vw;
    padding:0px;
}
#whyattend #heading2{
    font-family: heading;
    font-size:40vw;
    position: relative;
    letter-spacing: 0.125rem;
    text-shadow: -0.125rem 0 black, 0 0.125rem black, 0.125rem 0 black, 0 -0.125rem black;
    color:rgb(254, 254, 255);
  /*  margin-top: 256px;*/
      line-height: 10vw;
    padding:0px;
}
#whyattend #sub-heading{
    font-family: heading;
    position: relative;
    font-size:11vw;
    letter-spacing: 0.125rem;
    color:rgb(13, 13, 14);
   /* margin-top: 400px;*/
    line-height: 15vw;
    padding:0px;
}
#whyattend #sub-para{
    font-family: paragraph;
    font-size:5vw;
    letter-spacing: 0.125rem;
    color:rgb(0, 0, 0);   
    padding:0px;
}
#whyattend #para{
    font-family: paragraph;
    font-size:4vw;
    letter-spacing:.05vw;
    color:rgb(0, 0, 0);
   /* margin-top: 508px;*/
    padding:0px;
}
#whenwhere{
    background-color: rgb(123, 31, 228);
    box-sizing: border-box;
    border: 2px solid rgb(123, 31, 228);
    min-height: 100vh;
    margin: 0;
}
#whenwhere #heading{
    font-family: heading;
    font-size:24vw;
    position: relative;
    letter-spacing: 0.125rem;
    color:rgb(254, 254, 255);
  /*  margin-top: 256px;*/
    line-height: 32vw;
    padding:0px;
}
#whenwhere #heading2{
    font-family: heading;
    font-size:24vw;
    position: relative;
    letter-spacing: 0.125rem;
    color:rgb(254, 254, 255);
  /*  margin-top: 256px;*/
    line-height: 5vw;
    padding:0px;
}
#whenwhere #sub-heading{
    font-family: heading;
    position: relative;
    font-size:10vw;
    letter-spacing: 0.125rem;
    color:rgb(255, 255, 255);
   /* margin-top: 400px;*/
    line-height: 15vw;
    padding:0px;
}
#whenwhere #sub-para{
    font-family: paragraph;
    font-size:5vw;
    letter-spacing: 0.125rem;
    color:rgb(255, 255, 255);   
    padding:0px;
}
#whenwhere #para{
    font-family: paragraph;
    font-size:4vw;
    letter-spacing:.05vw;
    color:rgb(255, 255, 255);
   /* margin-top: 508px;*/
    padding:0px;
}
#about{
    background-color: rgb(24, 24, 24);
    box-sizing: border-box;
    border: 2px solid rgb(24, 24, 24);
    margin:0;
    min-height: 100vh;
}
#about #heading{
    font-family: heading;
    font-size:24vw;
    position: relative;
    letter-spacing: 0.125rem;
    color:rgb(254, 254, 255);
    line-height: 30vw;
    padding:0px;
    margin: 0;
}
#about #sub-heading{
    font-family: heading;
    font-size:12vw;
    position: relative;
    letter-spacing: 0.125rem;
    color:rgb(255, 255, 255);
   /* margin-top: 400px;*/
   line-height: 5vw;
    padding:0px;
}
#about #sub-para{
    font-family: paragraph;
    font-size:5vw;
    letter-spacing: 0.125rem;
    color:rgb(255, 255, 255);   
    padding:0px;
}
#about #para{
    font-family: paragraph;
    font-size:4vw;
    letter-spacing:.05vw;
    color:rgb(255, 255, 255);
   /* margin-top: 508px;*/
    padding:0px;
}
#contactus{
    width: 100%;
}
#contactus #para{
    font-family: paragraph;
    font-size:6vw;
    letter-spacing:.05vw;
    color:rgb(0, 0, 0);
   /* margin-top: 508px;*/
    padding:0px;
}
#contactus #comment,#usrname,#usremail,#usrsub{
    width: 100%;
    margin-bottom: 1em;
}
#contactus #usrname,#usremail,#usrsub{
    border-top: none;
    border-right: none;
    border-left: none;
}
#inp{
    background-color: white;
    color: rgb(123, 31, 228);
}
#rightarrow{
    color: rgb(123, 31, 228);
    font-size: 7vw;
}

