@font-face{
    font-family: heading;
    src: url("Assets/Fonts/DIN Condensed/DIN Condensed Bold.ttf");
}
@font-face{
    font-family: paragraph;
    src: url("Assets/Fonts/SF Pro Text/SF-Pro-Text-Medium.otf");
}
#home{
    background-color: rgb(24,24,24);
    min-height: 100vh;
}
#home #heading{
    font-family: heading;
    font-size:32vw;
    letter-spacing: 0px;
    color:aliceblue;
  /*  margin-top: 256px;*/
    line-height:25vw;
    padding:0px;
    margin: 0px;
    
}
#home #sub-heading{
    font-family: heading;
    font-size:12vw;
    letter-spacing: 0.25rem;
    color:aliceblue;
   /* margin-top: 400px;*/
   line-height:4vw;
    padding:0px;
    margin: 0px;
}
#home #pre-heading{
    font-family: heading;
    font-size:10vw;
    letter-spacing: 0.125rem;
    color:aliceblue;
   /* margin-top: 248px;*/
   /* line-height: 12vw; */
    padding:0px;
    margin:0px;
}